body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: 	#939699e0;
}

header {
    background-color: #2E1F48;
    color: rgb(200, 185, 224);
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(200, 185, 224);
    margin-right: 15px;
    text-decoration: none;
}